[Unit]
Description=The Eucalyptus Node Controller service
After=syslog.target network.target remote-fs.target nss-lookup.target libvirtd.service

[Service]
Type=forking
PIDFile=/var/run/eucalyptus/eucalyptus-nc.pid
ExecStart=/usr/lib/eucalyptus/eucalyptus-nc start
ExecStop=/usr/lib/eucalyptus/eucalyptus-nc stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
